<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker Menu</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>

<input type="checkbox" class="menu-toggle" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>
<div class="background-overlay"></div>

<div class="dropdown">
    <div class="dropdown-header">Hoshiyuki API</div>
    <a href="https://hoshiyuki-api.my.id">Downloader</a>
    <a href="https://hoshiyuki-api.my.id">Random Image</a>
    <a href="https://hoshiyuki-api.my.id">Primbon</a>
</div>

<h1>Maker Menu</h1>

<table border="1">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Desc</th>
        <th>Info</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Text2Image</td>
        <td>Convert Text to Image</td>
        <td><a href="https://hoshiyuki-api.my.id/maker/bingimg?text=mobil balap&apikey=APIKEY" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Among Us</td>
        <td>Among us</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Attp</td>
        <td>Text to animated picture</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Attp 2</td>
        <td>Text ti aninated picture</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Idul Fitri</td>
        <td>Idul Fitri card generator</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>KTP maker</td>
        <td>Ktp card generator</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>7</td>
        <td>Nulis Online</td>
        <td>Nulis online di buku</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>8</td>
        <td>Quotes Maker</td>
        <td>Quotes Maker</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>9</td>
        <td>Ttp</td>
        <td>Text to picture</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>10</td>
        <td>Wellcome Maker</td>
        <td>Wellcome Maker</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
    <tr>
        <td>11</td>
        <td>Yigi Oh Card</td>
        <td>Yugi Oh Card Maker</td>
        <td><a href="https://hoshiyuki-api.my.id" target="_blank">
            <button onmouseover="highlightButton(this)" onmouseout="resetButtonColor(this)">Get</button>
        </a></td>
    </tr>
</table>

<button onclick="redirectToHome()">Back To Home</button>

<script src="../scripts.js"></script>
</body>
</html>
