body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
}

h2 {
    color: #333;
}

.price-list {
    list-style-type: none;
    padding: 0;
}

.price-list li {
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.price-list li:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
}

.price {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.total-container {
    margin-top: 30px;
}

.total-price {
    font-size: 18px;
    color: #555;
}

#totalAmount {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.payment-method-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.payment-method {
    flex-grow: 1;
}

.payment-image {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
}

.purchase-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchase-button:hover {
    background-color: #45a049;
}

.payment-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.payment-option {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.payment-option img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.payment-option:hover {
    background-color: #45a049;
}